/* nav style */
ul {
  background-color: #bfbfff;
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  width: 15em;
  position: fixed;
}

li a {
  color: white;
  display: block;
  font-weight: lighter;
  line-height: 3.3em;
  padding: 15.8px;
  text-align: center;
  text-decoration: none;
}

.active {
  background-color: #7879ff;
}

.active,
a:hover {
  background-color: #7879ff;
}

a:hover {
  background-color: #a3a3ff;
}

.img {
  border-radius: 2px;
  height: 15em;
  width: 15em;
  /* max-width: 100%; */
  /* padding: 4px; */
}

.footer {
  background-color: #7879ff;
  bottom: 0em;
  color: white;
  left: 0em;
  position: fixed;
  text-align: center;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.alignbox {
  float: left;
}

#home {
  height: 578px;
  background-color: #f2f2fa;
  margin-left: 15.05em;
}

#about {
  height: 578px;
  background-color: #f2f2fa;
  margin-left: 15.05em;
}

#skills {
  height: 578px;
  background-color: #f2f2fa;
  margin-left: 15.05em;
}

#portfolio {
  height: 578px;
  background-color: #f2f2fa;
  margin-left: 15.05em;
}

.pill {
  background-color: tomato;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}